*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #5852FE;
    align-items: center;
    text-transform: capitalize;
    padding: 45px 0;
    margin-top: 70px;
}
.about h1{
    color: #fff;
    font-size: 33px;
    font-weight: 700;
}

.about p{
    width: 50%;
    text-align: justify;
    color: #ffffffb4;
    line-height: 30px;
    padding-top: 15px;
}


@media screen and (max-width:900px) {
    .about{
        padding: 0 25px;
    }
    .about p{
        width: 100%;
        text-align: center;
        
    }
    
}