*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sign-in-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sign-in-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.sign-in-img img{
    position: relative;
    top: 25px;
    height: 20vh;
}

.sign-in-img h3{
    font-weight: 800;
    font-size: 25px;
    padding-left: 10px;
}

.sign-in-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sign-in-input{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    color: #000000a2;
    gap: 10px;
}

.sign-in-input input{
    width: 100%;
    padding: 10px 25px;
    border-radius: 10px;
    outline: none;
    background-color: #fff;
    border: 1px solid #7B7373;
}
.sign-in-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-right: 13rem;
    margin-top: 1rem;
}


.sign-in-check p{
    font-size: 400;
    color: #000000b0;
    text-align: center;
}
.sign-in-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-right: 1rem;
    margin-top: 1rem;
}
.sign-in-btn p {
    font-weight: 400;
    color: #000000b7;
    font-size: 15px;
}

.btn-sign-in button{
 padding: 15px 45px;
 cursor: pointer;
 background-color: #5852FE;
 border-radius: 10px;
 border: none;
 font-weight: 400;
 color: #fff;
}
.google-icon-in{
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #c5c0c0;
}
.google-icon-in img{
    height: 20px;
}

.register-in{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 1rem;
    margin-top: 10px;
}

.register-in a{
    text-decoration: none;
    color: #0000ff;
}

.sign-in-foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 23px 0;
    background-color: #5852FE;
    color: #fff;

}

.back-arrow{
    border-right: 2px solid #fff;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.privacy-policy{
    border-right: 2px solid #fff;
    width: 50%;
}

.terms-condition{
    width: 50%;
}

.back-arrow h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width:900px) {

   .sign-in-box{
    gap: 7.5rem;
   }
   .sign-in-input{
    width: 100%;
    padding:0 25px;
   }
   .sign-in-check{
    margin-top: 2rem;
   }
   .sign-in-check p{
    width: 100%;
   }
   .sign-in-btn{
    margin-top: 1rem;
   }
   
   .register-in{
    margin-top: 1rem;
    padding-right: 3rem;
   }

   .register-in a{
    font-size: 15px;
   }

   .privacy-policy{
    width: 100%;
    }
   .sign-in-foot h4{
    font-size: 12px;
    font-weight: 600
    }
    .back-arrow{
        width: 100%;
        padding-left: 10px;
    }
    .terms-condition{
        width: 100%;
    }
    .sign-in-foot{
        width: 100%;
    }

   
    


}